<% layout('/layouts/boilerpate') %>
<h1>All campgrounds</h1>
<div>
  <a href="/campgrounds/new">Add Campground</a>
</div>
<ul>
  <% for(let campground of campgrounds){ %>

  <a href="/campgrounds/<%=campground._id%> "
    ><li><%= campground.title%></li></a
  >
  <% } %>
</ul>
